.site-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-wrapper h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.inputFields { 
    background-color:azure;
    height: 20px;
    margin-top: 10px;
}

.saveButton {
    width: 170px;
    height: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 5px 5px gray;
    border-radius: 30px;
    background-color: white;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cardsContainer .theCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

 .frontPage, .backPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: pink;
    border: solid 1px gray;
    box-shadow: 1px 5px 5px gray;
    margin: 10px;
    text-align: center;
    width: 150px;
    height: 170px;
    padding: 5px;
}

div.backPage {
    background-color: rgb(174, 226, 174);
}

.wichSide {
    font-size: 10px;
    align-self:flex-end;
}

.turnCard {
    height: 28px;
    background-color: white;
    border-radius: 30px;
}

.hidden {
    display: none;
}

